z-folders{
  position: absolute;
  left:80px;
  height:90px;
  width: 900px;
}
z-folders:hover{
  height:180px;
  z-index:5;
}

.folder-container {
  height:inherit;
  width:inherit;

  background-color: grey;
  overflow-y:auto;
  overflow-x:hidden;
}

.folder {
    height:60px;
    width: 120px;
}

.folderButton:hover {
    background-color: lightgrey;
}

#addFolderButton{
  position: absolute;
  left:-60px;
  top:0px;

  height:180px;
  width: 60px;

  background-image: url("../pics/num0.png");
  background-repeat: no-repeat;

  font-size: 20px;
  text-align:center;
  font-weight: bold;
  font-style: oblique;
  line-height: 100px;
}

.folderButton{
  position: relative;
  left: 5px;
  top: 5px;
  width:inherit;
  height:inherit;

  text-align: center;

  font-size:25px;
}
