z-folders{
  position: absolute;
  height:90px;
  width: 1000px;
}
z-folders:hover{
  height:180px;
  z-index:5;
}

.folder-container {
  height:inherit;
  width:inherit;

  background-color: grey;
  overflow-y:auto;
  overflow-x:hidden;
}

.folder {
    height:60px;
    width: 120px;
}

.folderButton:hover {
    background-color: lightgrey;
}

.folderButton{
  position: relative;
  left: 5px;
  top: 5px;
  width:inherit;
  height:inherit;

  text-align: center;

  font-size:25px;
}
