z-lists{
  position: absolute;
  top:100px;
  left:850px;

  height:500px;
  width: 150px;
}

.item-container {
  position:absolute;
  top:-5px;

  height:95%;
  width: 70%;
  background-color: grey;
  overflow-y:auto;
}

.item:hover {
  background-color: lightgrey;
}

.item{
  position:relative;
  left:-70px;
  top:20px;

  width:120px;
  height:50px;

  text-align: center;

  font-size:25px;
}

.addItemButton{
  position: absolute;
  left:0px;
  top:-60px;

  width:150px;
  height: 60px;

  background-image: url("../pics/num0.png");
  background-repeat: no-repeat;

  font-size: 20px;
  text-align:center;
  font-weight: bold;
  font-style: oblique;
  line-height: 70px;
}

.itemButton{
  position:relative;

  width:inherit;
  height:inherit;
}
