.panel{
  position: absolute;
  top: 20px;
  left:40px;

  width:inherit;
  height:inherit;

  overflow-y:auto;
  overflow-x:hidden;
}

.form-container{
  width:500px;
  height:auto;
}
.formTitle{
  position: relative;
  left:200px;
}

#folderDate{
  height:30px;
  font-size:20px;
}

#folderTitle{
  height: 50px;
  font-size: 30px;
  text-align:center;
  line-height:50px;
}

#folderDescription{
  width:550px;
  height:auto;

  background-color:inherit;
  font-size: 30px;
}
