z-tabs{
  position: absolute;
  top: 100px;

  width:830px;
  height:500px;
}

.tab-content{
  position:absolute;
  left:200px;
  top:0px;

  width:630px;
  height:500px;

  background-color: rgb(205, 180, 180);

  overflow-x:hidden;
  overflow-y:auto;

  border: 4px brown dashed;
}

.tab{
  position: relative;

  width: 200px;
  height:100px;

  font-size: 35px;
  text-align: left;
}

.selectedTab{
  text-align:center;
  background-color:yellow;
}
